<div
    [ngClass]="['hidden-layer__container', 'hidden-layer__container--type-' + layer.type]"
>
    <span class="hidden-layer__index">{{ index+1 }}.</span>

    <div class="hidden-layer__tools">
        <div class="hidden-layer__type">
            <mat-form-field
                *ngIf="!readonly"
                matTooltip="Layer type"
                matTooltipPosition="below"
            >
                <mat-select [(value)]="layer.type" (change)="onTypeChange()">
                    <mat-option
                        *ngFor="let value of types_values; let i = index;"
                        [value]="value"
                    >{{ types_names[i] }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="readonly" class="hidden-layer__type-readonly-name">
                {{ types_names[layer.type] }}
            </div>
        </div>

        <div class="hidden-layer__settings">
            <i
                matTooltip="Layer settings"
                matTooltipPosition="below"
                class="fa fa-cog"
                (click)="openSettings()"
            ></i>
        </div>
    </div>
    <app-neurone *ngIf="!readonly" [placeholder]="true" (add)="onNeuroneAdd()"></app-neurone>
    <app-neurone
        [readonly]="readonly"
        *ngFor="let neurone of range(layer.neurons); let i = index;"
        [index]="i"
        (delete)="onNeuroneDelete($event)"
    ></app-neurone>
</div>
