<div
    [ngClass]="['hidden-layer__container', 'hidden-layer__container--type-' + layer.type]"
    [@collapsable]="state"
>
    <span class="hidden-layer__index">{{ index+1 }}.</span>

    <div class="hidden-layer__tools">
        <div class="hidden-layer__type">
            <mat-form-field
                *ngIf="!readonly"
                matTooltip="Layer type"
                matTooltipPosition="below"
            >
                <mat-select [(value)]="layerType" (change)="onTypeChange()">
                    <mat-option
                        *ngFor="let value of types_values; let i = index;"
                        [value]="value"
                    >{{ types_names[i] }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div
                *ngIf="readonly"
                class="hidden-layer__type-readonly-name"
                [matTooltip]="types_names[layerType]"
                matTooltipPosition="below"
            >
                {{ types_names[layerType] }}
            </div>
        </div>

        <div class="hidden-layer__settings">
            <i
                matTooltip="Layer settings"
                matTooltipPosition="below"
                class="fa fa-cog"
                [ngbPopover]="Conv2D"
                #p="ngbPopover"
                container="body"
                placement="bottom"
            ></i>
        </div>
    </div>

    <ng-container *ngIf="layer.haveNeurons()">
        <app-neurone
            [@hiddable]="state"
            *ngIf="!readonly"
            [placeholder]="true"
            (add)="onNeuroneAdd()"
        ></app-neurone>
        <app-neurone
            [@hiddable]="state"
            [readonly]="readonly"
            *ngFor="let neurone of range(layer.getNeurons()); let i = index;"
            [index]="i"
            (delete)="onNeuroneDelete($event)"
        ></app-neurone>
    </ng-container>

    <div
        class="hidden-layer__collapser"
        (click)="toggleCollapsed()"
        matTooltip="Toggle collapse"
        matTooltipPosition="above"
    ></div>
</div>

<ng-template #Conv2D>
    <app-conv2d-layer [index]="index" [layer]="layer" [readonly]="readonly" (onSave)="onSave($event)" (onCancel)="onCancel($event)"></app-conv2d-layer>
</ng-template>
