@import '../../../../../variables.scss';

.hidden-layer__container {
    $tools-height: 25px;
    $tools-min-width: 140px;
    $tools-settings-width: 20px;

    height: calc(100% - 20px);
    min-width: $tools-min-width;
    display: inline-flex;
    writing-mode: vertical-lr;
    text-orientation: upright;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    position: relative;
    padding: #{15px + $tools-height + 5px} 10px 0 10px;
    border-radius: 2px;
    overflow: hidden;
    border-width: 2px 0 0;
    border-style: solid;
    margin: 0 10px;
    transition: opacity .2s;
    cursor: default;

    &.hidden-layer__container--collapsed {
        width: 0;
        opacity: .66;

        app-neurons-counter {
            position: absolute;
        }

        .hidden-layer__type-readonly-name {
            text-align: center;
        }
    }

    &.hidden-layer__container--type-0 {
        border-color: yellow;
    }

    &.hidden-layer__container--type-1 {
        border-color: green;
    }

    &.hidden-layer__container--type-2 {
        border-color: blue;
    }

    &.hidden-layer__container--type-3 {
        border-color: red;
    }

    &.hidden-layer__container--type-4 {
        border-color: orange;
    }

    .hidden-layer__index {
        writing-mode: horizontal-tb;
        position: absolute;
        top: 0;
        left: 2px;
        font-size: 16px;

        &:after {
            content: '.';
            top: -3px;
            position: absolute;
        }
    }

    .hidden-layer__tools {
        width: calc(100% - 20px);
        height: $tools-height;
        overflow: hidden;

        writing-mode: horizontal-tb;
        position: absolute;
        top: 15px;
        left: 20px;

        .hidden-layer__type {
            float: left;
            margin-top: -4px;
            width: calc(100% - #{$tools-settings-width});
            height: $tools-height;

            mat-form-field {
                width: 100%;
                margin-top: -20px;
            }

            .hidden-layer__type-readonly-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 23px;
            }
        }

        .hidden-layer__settings {
            float: left;
            width: $tools-settings-width;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
        }
    }

    .hidden-layer__neurons-amount,
    .hidden-layer__no-neurons-info {
        font-size: 19px;
        position: absolute;
        margin-top: 20px;

        .hidden-layer__neurons-amount-digits {
            writing-mode: horizontal-tb;
        }
    }
}

