@import "../../../../variables.scss";

:host {
    & > .row {
        margin: 15px 0 0;
    }

    .models-table__container {
        width: 100%;

        .models-table__row {
            * {
                color: white;
            }

            &.models-table__row--learning {
                background-color: $color-orange;
            }

            &.models-table__row--learned {
                background-color: $color-green;
            }

            .models-table__action-btn {
                height: 30px;
                display: block;
                width: 80px;
                text-align: center;
                line-height: 30px;
                border-radius: 3px;
                background-color: #3f51b5;
                transition: background-color .1s ease-in;
                font-size: 13px;

                &:hover {
                    text-decoration: none;
                    background-color: lighten(#3f51b5, 10%);
                }
            }
        }
    }
}
