@import "../../../../variables.scss";

.square__dataset {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 1.3vw;
}

.square__epochs {
    position: absolute;
    bottom: 3px;
    left: 5px;
    font-size: 1.3vw;
}

.square__epochs-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: $color-red;
}

::ng-deep .square--learning {
    #{--square-color}: $color-orange !important;
}

::ng-deep .square--learned {
    #{--square-color}: $color-green !important;
}
