<div
    class="row"
    *ngIf="learnedNetworks"
    @fadeInOut
>
    <app-square
        *ngFor="let network of learnedNetworks"
        class="col-6 col-sm-4 col-md-3 col-lg-2"
        [link]="['/run', network.id]"
        [disabled]="network.epochsLearnt !== network.epochsToLearn"
        [extraClass]="(network.epochsLearnt === network.epochsToLearn) ? 'square--learned' : 'square--learning'"
    >
        <span class="square__id">{{ network.id }}</span>
        <span class="square__dataset">{{ network.dataset }}</span>
        <span class="square__epochs">{{ network.epochsLearnt }} / {{ network.epochsToLearn }}</span>
        <span
            class="square__epochs-indicator"
            [style.width]="(network.epochsLearnt / network.epochsToLearn)*100 + '%'"
        ></span>
    </app-square>
</div>
<app-loader
    *ngIf="!learnedNetworks"
    [relative]="true"
></app-loader>
