<div class="row table-tools">
    <button
        mat-flat-button
        class="table-tools__refresh-btn"
        (click)="refresh()"
    ><i class="fa fa-refresh" aria-hidden="true"></i>Refresh</button>
</div>

<div
    class="row"
    *ngIf="learnedNetworks"
    @fadeInOut
>
    <div class="models-table__container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let network"> {{network.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataset">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Dataset </mat-header-cell>
                <mat-cell *matCellDef="let network"> {{network.dataset.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="progress">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Training progress </mat-header-cell>
                <mat-cell *matCellDef="let network"> {{ network.epochsLearnt }} / {{ network.epochsToLearn }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let network">
                    <span *ngIf="network.epochsToLearn === 0 else notErrorStatus" class="badge badge-danger">Error</span>
                    <ng-template #notErrorStatus>
                        <span *ngIf="network.epochsLearnt === network.epochsToLearn" class="badge badge-success">Trained</span>
                        <span *ngIf="network.epochsLearnt !== network.epochsToLearn" class="badge badge-warning">Pending</span>
                    </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 80px'"> Actions </mat-header-cell>
                <mat-cell *matCellDef="let network" [style.flex]="'0 0 80px'">
                    <a
                        *ngIf="network.epochsLearnt === network.epochsToLearn"
                        class="models-table__action-btn"
                        [routerLink]="['/run', network.id]"
                    ><i class="fa fa-play" aria-hidden="true"></i>Run</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
                class="models-table__row"
                *matRowDef="let row; columns: displayedColumns;"
            ></mat-row>
        </mat-table>

        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>
<app-loader
    *ngIf="!learnedNetworks"
    [relative]="true"
></app-loader>
