<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Rate*</label>
            <input
                type="number"
                class="form-control"
                name="rate"
                min="0"
                required
                ngModel
            >
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group d-flex">
                <button class="btn btn-success w-100" type="submit" [disabled]="f.invalid">Save</button>
                <button class="btn btn-secondary w-100" type="button" (click)="onCancel.emit()">Cancel</button>
            </div>
        </div>
    </div>
</form>
