<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
        <div class="col-sm-12 form-group">
            <label>
                Rate*
                <app-info-tooltip key="arguments_rate"></app-info-tooltip>
            </label>
            <input
                type="number"
                class="form-control"
                name="rate"
                [min]="0.01"
                required
                ngModel
                [disabled]="readonly"
            >
        </div>
    </div>

    <div class="row" *ngIf="!readonly">
        <div class="col-sm-12">
            <div class="btn-group d-flex">
                <button class="btn btn-primary w-100" type="submit" [disabled]="f.invalid">Save</button>
                <button class="btn btn-light w-100" type="button" (click)="onCancel.emit()">Cancel</button>
                <button class="btn btn-danger w-100" type="button" (click)="onDelete.emit()">Delete</button>
            </div>
        </div>
    </div>
</form>
