.home__container {
    nav {
        margin-top: 15px;
        margin-bottom: 15px;

        a {
            text-decoration: none;
        }
    }

    ::ng-deep .mat-tab-header-pagination {
        display: none !important;
    }
}
