<app-header [controls]="controls"></app-header>

<nav mat-tab-nav-bar>
    <a
        mat-tab-link
        *ngFor="let link of LINKS"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive"
        [matTooltip]="link.tooltip"
        matTooltipPosition="right"
    >
        {{link.label}}
    </a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
