@import "../../../variables.scss";

nav {
    margin-top: 15px;
    position: sticky;
    top: #{$header-height - 1px};
    background-color: white;
    z-index: 3;

    a {
        text-decoration: none;
        font-family: $font-family;
        font-size: 18px;
    }
}
