@import "../../../../variables.scss";

.hidden-layers__container {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    height: calc(100vh - #{$header-height});
    padding-top: 15px;
    padding-bottom: 15px;
}
