.hidden-layers__container {
    white-space: nowrap;
    overflow: auto;
}

.hidden-layers__add {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

app-hidden-layer {
    display: inline-block;
    border-radius: 2px;

    &.sortable-chosen {
        // Fix overflowing
        max-width: max-content;
    }
}
