<app-header [controls]="controls"></app-header>

<div class="container-fluid">
    <div class="row model__row">
        <div class="col-sm-12">
            <app-loader *ngIf="processing || (id && !layers)"></app-loader>
            <app-hidden-layers
                *ngIf="layers && layers.length > 0"
                [layers]="layers"
                (valid)="onValid($event)"
            ></app-hidden-layers>
            <app-hidden-layers-placeholder *ngIf="layers && layers.length === 0"></app-hidden-layers-placeholder>
        </div>
    </div>
</div>
