.header__container-fluid {
    box-shadow: 0 0 5px lightgray;
    background-color: white;

    .header__container {
        height: 75px;

        .header__control-btn {
            font-size: 30px;
            cursor: pointer;
            line-height: 75px;

            &.pull-right {
                margin-left: 20px;
            }
        }

        .input-image__networkInput {
            display: none;
        }

        .header__logo {
            line-height: 75px;
            text-align: center;
            margin: 0 auto;
            display: block;
            font-size: 40px;
            font-family: "Comic Sans MS";
            text-shadow: 0 0 10px white;
            cursor: default;
            user-select: none;

            .header__logo--edu {
                color: #f0642a;
                text-shadow: 1px 1px 4px #f0642a;
            }

            .header__logo--conv {
                color: #a5a9ab;
                text-shadow: 1px 1px 4px #a5a9ab;
            }
        }
    }
}
