.header__container-fluid {
    box-shadow: 0 0 20px lightgray;
    background-color: white;

    .header__container {
        height: 75px;
        position: relative;

        .header__controls-container {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 30px;
            line-height: 75px;

            .header__control-btn {
                margin-left: 20px;
                cursor: pointer;
                user-select: none;

                &:first-child {
                    margin-left: 0;
                }
            }

            .input-image__networkInput {
                display: none;
            }
        }

        .header__logo {
            line-height: 75px;
            text-align: center;
            margin: 0 auto;
            display: block;
            font-size: 50px;
            font-family: "Brush Script MT", "Times New Roman";
            text-shadow: 0 0 10px white;
            user-select: none;
            cursor: pointer;

            .header__logo-link {
                text-decoration: none;

                .header__logo--edu {
                    color: #f0642a;
                    text-shadow: 1px 1px 4px #f0642a;
                }

                .header__logo--conv {
                    color: #a5a9ab;
                    text-shadow: 1px 1px 4px #a5a9ab;
                }
            }
        }
    }
}
