<app-header [controls]="controls"></app-header>

<div class="container-fluid">
    <div class="row run__row">
        <div class="col-sm-3">
            <app-input-layer [image]="network?.input"></app-input-layer>
        </div>
        <div class="col-sm-6">
            <app-loader *ngIf="processing || !network"></app-loader>
            <app-hidden-layers
                *ngIf="network"
                [readonly]="true"
                [layers]="network?.layers"
                [images]="results?.activationImages"
            ></app-hidden-layers>
        </div>
        <div class="col-sm-3">
            <app-loader *ngIf="processing || !network"></app-loader>
            <app-output-layer
                *ngIf="network"
                [results]="results?.classification"
                [labels]="network?.labels"
            ></app-output-layer>
        </div>
    </div>
</div>
