<app-header [controls]="controls"></app-header>

<div class="container">
    <div class="row run__row">
        <div class="col-sm-3">
            <app-input-layer></app-input-layer>
        </div>
        <div class="col-sm-6">
            <app-loader *ngIf="processing && !running"></app-loader>
            <app-hidden-layers *ngIf="!processing || running" [readonly]="true"></app-hidden-layers>
        </div>
        <div class="col-sm-3">
            <app-loader *ngIf="processing"></app-loader>
            <app-output-layer *ngIf="!processing || running"></app-output-layer>
        </div>
    </div>
</div>
