@import "../../../../../variables.scss";

.input-image {
    overflow: hidden;
    position: relative;

    @media only screen and (min-width: 576px) {
        height: calc(100% - 30px);
    }

    @media only screen and (max-width: 575px) {
        height: 100px;
    }

    &.input-image--full-height {
        height: 100%;
    }

    .input-image__image-container {
        position: relative;

        .input-image__image {
            height: auto;
            width: auto;
            min-width: 100px;
            min-height: 100px;
            max-width: 100%;
            max-height: 100%;
            background-color: lightgray;
            border-radius: 2px;
        }

        .input-image__delete-image {
            position: absolute;
            top: 2px;
            right: 3px;
            cursor: pointer;
            font-size: 14px;
            mix-blend-mode: difference;
            color: white;
        }
    }

    .input-image__imageInput {
        display: none;
    }

    .input-image__placeholder {
        cursor: pointer;
        width: 100%;
        height: calc(100% - 30px);
        color: grey;
        text-align: center;
        border: 2px dashed grey;
        border-radius: 2px;

        &:hover {
            text-shadow: 0 0 2px lightgrey;
        }
    }
}

.input-image-draw__container {
    height: 30px;
    padding-bottom: 15px;

    .input-image-draw__button {
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        background: grey;
        color: white;

        &:hover {
            background-color: lightgrey;
            color: grey;
        }
    }
}
