.input-image {
    overflow: hidden;
    position: relative;
    height: calc(100% - 20px);

    .input-image__image-container {
        position: relative;

        .input-image__image {
            height: auto;
            width: auto;
            max-width: 100%;
            max-height: 100%;
            min-width: 100px;
            min-height: 100px;
            background-color: lightgray;
            border-radius: 2px;
        }

        .input-image__delete-image {
            position: absolute;
            top: 2px;
            right: 3px;
            cursor: pointer;
            font-size: 14px;
            mix-blend-mode: difference;
            color: white;
        }
    }

    .input-image__imageInput {
        display: none;
    }

    .input-image__placeholder {
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: grey;
        text-align: center;
        border: 2px dashed grey;
        border-radius: 2px;

        &:hover {
            text-shadow: 0 0 2px lightgrey;
        }
    }
}
