<div
    class="input-image d-flex justify-content-center align-items-center"
>
    <div class="input-image__image-container" *ngIf="image">
        <img
            class="input-image__image"
            [src]="image"
        >

        <i
            class="fa fa-times input-image__delete-image"
            (click)="onImageDelete($event)"
            *ngIf="image"
            matTooltip="Delete image"
            matTooltipPosition="below"
        ></i>
    </div>

    <input
        type="file"
        class="input-image__imageInput"
        (change)="onImageChange($event)"
        #imageInput
    >

    <div
        *ngIf="!image"
        class="input-image__placeholder d-flex justify-content-center align-items-center"
        (click)="imageInput.click()"
    >
        Click to upload an image
    </div>
</div>
