@import "../../../../../variables.scss";

.dataset-info {
    padding-top: 25px;

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        width: 50%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}

nav {
    margin-top: 15px;
    position: sticky;
    top: 123px;
    background-color: white;
    z-index: 2;

    a {
        text-decoration: none;
        font-family: $font-family;
        font-size: 18px;
    }
}
