$font-family-logo: 'Nanum Brush Script', cursive;
$font-family: 'Times New Roman';
$header-height: 75px;

$color-red: #F25F5C;
$color-yellow: #FFE066;
$color-blue: #247BA0;
$color-lightblue: #70C1B3;
$color-orange: #F4A261;
$color-green: #9BC53D;
