@import './../../../../../variables.scss';

.hidden-layers-placeholder__container {
    height: 100%;
    font-size: 25px;
    color: grey;
    text-shadow: 1px 1px 1px lightgrey;

    .fa {
        margin: 0 5px 0;
        font-size: 25px;
    }
}
