@import "../../../../variables.scss";

.square {
    --square-color: #{$color-blue};

    $square-padding: 5px;

    position: relative;
    box-sizing: border-box;
    opacity: .7;
    transition: all .2s ease-in-out;
    width: 100%;
    padding-bottom: 100%;
    border: 2px solid var(--square-color);
    border-radius: 2px;
    margin-top: 15px;
    margin-bottom: 15px;

    &:hover {
        opacity: 1;
        box-shadow: 0 0 10px var(--square-color);
        transform: scale(1.1);
    }

    .square__content {
        position: absolute;
        width: calc(100% - #{2*$square-padding});
        height: calc(100% - #{2*$square-padding});
        background-color: var(--square-color);
        border-radius: 2px;
        top: $square-padding;
        left: $square-padding;
        overflow: auto;

        .square__link {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            text-align: center;
            font-size: 3vh;
            user-select: none;

            &.square__link--disabled {
                cursor: default;
                pointer-events: none;
            }
        }
    }
}
