<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Activation</label>
            <mat-form-field class="form-control">
                <mat-select
                    [(value)]="layer.args.activation"
                    name="activation"
                    ngModel
                    [disabled]="readonly"
                >
                    <mat-option
                        *ngFor="let value of activation_types_values; let i = index;"
                        [value]="value"
                    >{{ activation_types_names[i] }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 form-group">
            <mat-checkbox
                name="useBias"
                ngModel
                [disabled]="readonly"
            >Use bias</mat-checkbox>
        </div>
    </div>

    <div class="row" *ngIf="!readonly">
        <div class="col-sm-12">
            <div class="btn-group d-flex">
                <button class="btn btn-primary w-100" type="submit" [disabled]="f.invalid">Save</button>
                <button class="btn btn-light w-100" type="button" (click)="onCancel.emit()">Cancel</button>
                <button class="btn btn-danger w-100" type="button" (click)="onDelete.emit()">Delete</button>
            </div>
        </div>
    </div>
</form>
