@import "../../../../variables.scss";

:host {
    & > .row {
        margin: 15px 0 0;
    }

    .schemes-table__container {
        width: 100%;

        .schemes-table__action-btn {
            height: 30px;
            display: block;
            text-align: center;
            line-height: 30px;
            color: #3f51b5;
            transition: color .1s ease-in;
            float: left;
            font-size: 13px;
            margin-right: 10px;

            i {
                font-size: 12px;
                margin-right: 6px;
            }

            &:hover {
                text-decoration: none;
                color: lighten(#3f51b5, 20%);
            }
        }
    }

    .table-tools {
        justify-content: flex-end;

        .table-tools__refresh-btn {
            height: 30px;
            font-size: 13px;
            line-height: 14px;
            font-weight: 400;

            i {
                font-size: 12px;
                margin-right: 6px;
            }
        }
    }
}
