<div
    class="row schemes-row"
    *ngIf="unlearnedNetworks"
    @fadeInOut
>
    <div class="schemes-table__container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let network"> {{network.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 170px'"> Actions </mat-header-cell>
                <mat-cell *matCellDef="let network" [style.flex]="'0 0 170px'">
                    <a class="schemes-table__action-btn" [routerLink]="['/train', network.id]"
                    >Train</a>
                    <a class="schemes-table__action-btn" [routerLink]="['/scheme', network.id]"
                    >Duplicate</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
                *matRowDef="let row; columns: displayedColumns;"
            ></mat-row>
        </mat-table>

        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>
<app-loader
    *ngIf="!unlearnedNetworks"
    [relative]="true"
></app-loader>
