@import "../../../../variables.scss";

.square__duplicate {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.3vw;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

::ng-deep .square--unlearned {
    #{--square-color}: $color-yellow !important;
}

::ng-deep .square--new-scheme {
    font-size: 2vw !important;
}
